<section>
    <div class="main">
        <div class="info">
            <h1>Bienvenidos a FireBlog</h1>
            <p>¡Bienvenido a Fireblog! Este es un espacio diseñado para que puedas compartir tus experiencias, 
                pensamientos y pasiones con una comunidad apasionada y receptiva. Aquí, la libertad de expresión 
                es fundamental y todas las opiniones son bienvenidas. Únete a nosotros para encender conversaciones, 
                compartir conocimientos y conectar con personas de todo el mundo. ¡Prepárate para explorar un mundo 
                de ideas en Fireblog!</p>
        </div>
        <div class="imagen">
            <img src="assets/img/05ca7ee2fc6847b257c112e65ce24654.jpg" alt="Img">
        </div>
    </div>
</section>
